@import "./home";

@import "./variable";
@import "./login";



.notification{
    color:white;
    margin:40px 20px ;
}

.back{
    color: white;
    &:hover{
        text-decoration: none;
        color: $primaryColor;
    }
    span{
       padding-right: 5px;
    }
}