$primaryColor:#ff7c00;
$secondaryColor:#313131;
$tetiaryColor:#ffa63d;




* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}



.container-fluid {
    padding: 0;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}




label {
    cursor: pointer;

    &:focus {
        outline: none
    }

}


.menu {
    display: none;

    @media (max-width: 1159px) {
        display: block;
    }

    position: fixed;
    top: 0;
    left: 0;
    background: $secondaryColor;
    width: 300px;
    height: 100%;
    transform: translate3d(-300px, 0, 0);
    transition: transform 0.35s;
    z-index: 9999;

}


label.menu-toggle {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    margin-top: 20px;
    text-indent: -9999px;
    background: $primaryColor url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50% / 25px 25px no-repeat;

}

.small-ul {
    padding-top: 30px;

    li {
        &:active{
            background-color: $primaryColor;
        }
        label {
            background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50% / 16px 16px no-repeat
        }

        a,
        label {
            display: block;
            text-align: left;
            padding: 0 20px;
            line-height: 60px;
            text-decoration: none;
            color: rgb(255, 255, 255);

            &:active {
                color: $secondaryColor;
            }

        }

    }

}


/* hide inputs */
.menu-checkbox {
    display: none
}


/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
    background: none;
}


/* fade in checked menu */
.menu-checkbox:checked+.menu {
    transform: translate3d(0, 0, 0);
    -webkit-box-shadow: 13px 1px 25px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 13px 1px 25px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 13px 1px 25px 0px rgba(0, 0, 0, 0.55);
}


.logo-orange {
    display: none;
    background-color: $secondaryColor;
    @media (max-width: 1159px) {
        display: block;
    }
}



.big-menu {
    @media (max-width: 1160px) {
        display: none;
    }

    .first-menu {
        float: right;
        margin-top: 1%;

        li {
            list-style: none;
            padding: 10px;

            a {
                text-decoration: none;
                color: #584d4d;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
            }

            a:nth-child(2) {
                color: $primaryColor;
            }
        }
    }

    .second-menu {
        justify-content: center;
        background-color: #313131;
        max-width: 1000px;
        margin: auto;
        -webkit-box-shadow: 0px 10px 25px 0px rgba(50, 50, 50, 0.66);
        -moz-box-shadow: 0px 10px 25px 0px rgba(50, 50, 50, 0.66);
        box-shadow: 0px 10px 25px 0px rgba(50, 50, 50, 0.66);

        li {
            list-style: none;
            padding: 10px;

            a {
                color: white;
                padding-left: 8px;
                padding-right: 8px;
                text-transform: uppercase;
            }
        }

        .moretopics {
            .dropdown-button {
                background-color: rgba(255, 255, 255, 0);
                border: none;
                box-shadow: none;
                color: white;

                &:hover {
                    color: $primaryColor;
                }

                &::after {

                    border-color: white transparent transparent transparent;

                    &:hover {
                        border-color: $primaryColor transparent transparent transparent;
                    }

                }
            }

            .menu-options {
                background-color: $primaryColor;

                a {
                    color: white;

                    &:hover {
                        background-color: $secondaryColor;
                    }

                    &:active {
                        background-color: $secondaryColor;
                    }
                }
            }

        }
    }


}

.first-section {
    margin-top: 60px;

    @media (max-width: 1159px) {
        margin-top: 20px;
    }

    @media (min-width: 1400px) {
        max-width: 1300px;

    }

    @media (min-width: 1600px) {
        max-width: 1400px;

    }

    .slider {
        @media (max-width: 769px) {

            margin: auto;
        }

        @media (min-width: 1600px) {
            justify-content: center;

        }

        .banner {

            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8939950980392157) 33%, rgba(0, 0, 0, 0.6383928571428572) 57%, rgba(0, 0, 0, 0) 100%);

            width: 100%;
            height: 70vh;
            margin-bottom: 30px;

            @media (min-width: 767px) {
                height: 45vh;

            }

            @media (min-width: 1023px) {
                height: 26vh;

            }

            @media (min-width: 1143px) {
                height: 55vh;

            }


            @media (min-width: 1200px) {
                height: 50vh;

            }

            @media (min-width: 1400px) {
                height: 40vh;

            }

            @media (min-width: 1600px) {
                height: 40vh;

            }


            // @media (min-width: 300px) {
            //   height: 20vh;
            // }

            // @media (min-width: 730px) {
            //   height: 25vh;
            // }

            // @media (min-width: 1023px) {
            //   height: 25vh;
            // }

            // @media (min-width: 1100px) {
            //   height: 40vh;
            // }

            .carouseller {
                justify-content: center;

                @media (min-width: 1200px) {
                    justify-content: left;
                    margin-left: 30px;
                }

                li {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                }

                li.active {
                    background-color: $primaryColor;
                }
            }

            .slides {
                height: 100%;
                text-align: center;

                @media (min-width: 1023px) {
                    text-align: left;
                }

                @media (min-width: 1200px) {
                    text-align: left;
                }

                .slides-option {
                    .gradient {

                        @media (max-width: 769px) {
                            height: 70vh;
                            left: 0;
                        }

                        @media (min-width: 767px) {
                            height: 45vh;

                        }

                        @media (min-width: 1023px) {
                            height: 26vh;
                            top: 0;
                            left: 0;

                        }

                        @media (min-width: 1143px) {
                            height: 55vh;

                        }

                        @media (min-width: 1200px) {
                            height: 50vh;
                            width: 100%;

                        }

                        @media (min-width: 1600px) {
                            height: 40vh;

                        }

                    }

                    .banner-content {
                        .title {

                            p {
                                margin: 30px;
                                padding: 5px 7px;
                                width: 140px;
                                color: white;
                                background-color: $primaryColor;
                            }
                        }

                        .sliding-text {
                            margin-top: 40px;

                            @media (min-width: 1023px) {
                                margin-top: 40px;
                                margin-left: 40px;
                            }

                            @media (min-width: 1200px) {
                                margin-top: 100px;
                                margin-left: 30px;
                            }

                            @media (min-width: 1400px) {
                                margin-top: 70px;
                                margin-left: 30px;
                            }

                            @media (min-width: 1600px) {
                                margin-top: 70px;
                                margin-left: 30px;
                            }

                            h4 {
                                font-size: 36px;
                                color: white;

                                @media (min-width: 767px) {
                                    padding-left: 40px;
                                    padding-right: 40px;
                                }

                                @media (min-width: 1000px) {
                                    padding-left: 0px;
                                    padding-right: 0px;
                                }
                            }

                            p {

                                color: white;

                                @media (min-width: 767px) {
                                    padding-left: 60px;
                                    padding-right: 60px;
                                }

                                @media (min-width: 1000px) {
                                    padding-left: 0px;
                                    padding-right: 0px;
                                }
                            }

                        }

                        .banner-cta {
                            width: 50px;
                            height: 50px;
                            background-color: $primaryColor;
                            border-radius: 100%;
                            margin-left: calc(50% - 20px);
                            margin-top: 5%;

                            @media (min-width: 1023px) {
                                margin-left: 40px;

                                margin-top: 55%;
                            }

                            @media (min-width: 1200px) {
                                margin-left: 0;
                                float: right;
                                margin-top: 95%;
                            }

                            @media (min-width: 1400px) {
                                margin-left: 0;
                                float: right;
                                margin-top: 65%;
                            }

                            @media (min-width: 1600px) {
                                margin-left: 0;
                                float: right;
                                margin-top: 55%;
                            }

                            &:hover {
                                background-color: $secondaryColor;
                            }

                            img {
                                width: 50%;
                                padding-top: 35%;

                                @media (min-width: 1200px) {

                                    padding-top: 40%;
                                }
                            }
                        }
                    }


                    .slide-image {
                        @media (max-width: 769px) {
                            height: 70vh;

                        }

                        @media (min-width: 767px) {
                            height: 45vh;

                        }


                        img {

                            width: 100%;

                            @media (max-width: 769px) {
                                height: 100%;
                                width: auto;
                            }


                        }
                    }
                }
            }
        }
    }


    .mini-banner {
        @media (max-width: 500px) {
            justify-content: center;

        }

        // @media (min-width: 1400px) {
        //     padding-left: 40px;
        //     padding-right: 40px;
        // }

        // @media (min-width: 1600px) {
        //     padding-left: 60px;
        //     padding-right: 60px;
        // }


        .first-row {
            border-bottom: 1px #D9D9D9 solid;
            padding-bottom: 10px;

            @media (min-width: 1130px) {}

            .first-row-image {
                @media (max-width: 769px) {
                    padding-left: 0;

                }

                @media (min-width: 1400px) {
                    height: 0px;
                }

                .image {
                    width: 150px;
                    height: 150px;
                    margin: auto;

                    img {
                        width: 100%;
                    }
                }

            }

            .first-row-content {
                padding-left: 10px;

                @media (min-width: 1023px) {
                    padding-left: 30px;
                }

                @media (min-width: 1200px) {
                    padding-left: 10px;
                }

                @media (min-width: 1200px) {
                    height: 20px;
                }

                @media (min-width: 1400px) {
                    height: 120px;
                }

                @media (min-width: 1600px) {
                    height: 140px;
                }


                .title {
                    color: $primaryColor;
                    font-size: 12px;
                    margin-bottom: 4px;
                }

                .heading {
                    line-height: 20px;

                }

                .body {
                    line-height: 19px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin-bottom: 4px;
                }

                span {
                    padding-right: 6px;

                    a {
                        color: $primaryColor;
                        text-decoration: none;

                        &:hover {
                            color: $secondaryColor;
                            fill: $secondaryColor;
                        }
                    }

                }
            }
        }

        .first-row1 {
            border-bottom: 1px #D9D9D9 solid;
            padding-bottom: 10px;


            .first-row-image {
                padding-left: 30px;

                .image {
                    width: 150px;
                    height: 150px;
                    margin: auto;

                    img {
                        width: 100%;
                    }
                }

            }

            .first-row-content {
                padding-left: 30px;

                .title {
                    color: $primaryColor;
                    font-size: 12px;
                    margin-bottom: 4px;
                }

                .heading {
                    line-height: 20px;

                }

                .body {
                    line-height: 19px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin-bottom: 4px;
                }

                span {
                    padding-right: 6px;

                    a {
                        color: $primaryColor;
                        text-decoration: none;

                        &:hover {
                            color: $secondaryColor;
                            fill: $secondaryColor;
                        }
                    }

                }
            }
        }

        .second-row {
            .first-row-image {
                @media (max-width: 769px) {
                    padding-left: 0;
                }

                .image {
                    width: 150px;
                    height: 150px;
                    margin: auto;

                    img {
                        width: 100%;
                    }
                }
            }

            .first-row-content {


                @media (max-width: 769px) {}

                .title {
                    color: $primaryColor;
                    font-size: 12px;
                    margin-bottom: 4px;
                }

                .heading {
                    line-height: 20px;

                }

                .body {
                    line-height: 19px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    margin-bottom: 4px;
                }

                span {
                    padding-right: 6px;

                    a {
                        color: $primaryColor;
                    }

                }
            }
        }
    }
}

.second-section {

    overflow: hidden;

    .scrolling-news {

        .breaking-news {
            .news {
                width: 200px;
                background-color: #313131;
            }

            .news-scroll {
                background-color: #dfdfdf;

                a {
                    text-decoration: none;
                    color: $secondaryColor;
                }
            }

            .dot {
                height: 6px;
                width: 6px;
                margin-left: 3px;
                margin-right: 3px;
                margin-top: 2px !important;
                background-color: rgb(207, 23, 23);
                border-radius: 50%;
                display: inline-block
            }
        }

    }
}

.third-section {
    overflow: hidden;
    margin: auto;

    .third-news-section {

        background-color: #0D0D0D;

        @media (max-width: 769px) {
            justify-content: center;
        }

        .big-news {
            overflow: hidden;

            .gradient {
                width: 100%;
                height: 100%;
            }

            .image-content {
                @media (max-width: 769px) {
                    text-align: center;
                }

                padding-left: 80px;
                padding-right: 80px;


                .title {

                    h3 {
                        margin-top: 50px;

                        color: white;
                        font-size: 20px;

                        @media (min-width: 767px) {
                            margin-top: 50px;

                            color: white;
                            font-size: 30px;
                        }

                        @media (min-width: 1200px) {
                            margin-top: 50px;

                            color: white;
                            font-size: 40px;
                        }
                    }
                }

                .sliding-text {
                    margin-top: 40px;

                    @media (min-width: 768px) {
                        margin-top: 100px;
                    }

                    @media (min-width: 1023px) {
                        margin-top: 160px;
                    }

                    @media (min-width: 1200px) {
                        margin-top: 160px;
                    }

                    h4 {
                        font-size: 24px;
                        color: $tetiaryColor;

                    }

                    p {

                        color: white;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                }

                .big-image-cta {

                    margin-bottom: 40px;

                    a {
                        border: 1px $tetiaryColor solid;
                        text-decoration: none;
                        color: $tetiaryColor;
                        padding: 12px 40px 12px 40px;

                        &:hover {
                            background-color: $primaryColor;
                            color: white;
                        }

                    }

                }
            }

            .big-image {

                height: 100%;
                overflow: hidden;

                img {

                    height: 100%;

                    // @media (max-width: 730px) {
                    //     height: 100%;
                    // }


                }
            }

        }

        .small-news {
            margin-top: 20px;

            @media (max-width: 769px) {
                justify-content: center;
            }

            .content {
                border-bottom: 1px $secondaryColor solid;
                padding-bottom: 10px;
                margin-bottom: 10px;

                .small-image {

                    padding: 0;

                    .small-news-image {
                        width: 125px;
                        height: 140px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .small-content {
                    .date {
                        color: white;
                        font-size: 12px;
                        margin-bottom: 6px;
                    }

                    .heading {
                        line-height: 20px;
                        color: $primaryColor;

                    }

                    .body {
                        line-height: 19px;
                        color: white;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        margin-bottom: 6px;

                    }

                    span {
                        padding-right: 6px;

                        a {
                            color: $primaryColor;

                            &:hover {
                                color: white;
                                text-decoration: none;
                            }
                        }

                    }
                }
            }

            .content:nth-child(3) {
                border-bottom: none;
            }
        }

    }
}

.fourth-section {
    max-width: 1300px;
    margin: auto;
    margin-top: 40px;

    @media (min-width: 1600px) {
        max-width: 1600px;
    }

    .other-news {
        justify-content: center;

        .sports {
            padding-left: 30px;
            padding-right: 30px;

            .head {
                padding: 0;
                display: grid;
                grid-template-columns: 70% 30%;

                .topic {
                    padding: 10px;
                    background-color: #E9E9E9;

                    p {
                        padding-left: 20px;
                        font-size: 18px;
                    }
                }

                .button {
                    background-color: $primaryColor;
                    padding-left: 35%;
                    padding-top: 10%;

                    .a {}
                }

            }

            .sports-image {
                padding-left: 0;
                padding-right: 0;

                .image {
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }
            }

            .heading {
                margin-top: 15px;
                padding-left: 0;
                padding-right: 0;

                a {
                    text-decoration: none;

                    h5 {
                        color: $secondaryColor;
                        font-size: 24px;
                    }
                }

            }

            .body {
                border-top: 1px #c8c8c8 solid;
                padding-left: 0;
                padding-right: 0;
                padding-top: 10px;
                margin-top: 10px;

                a {
                    text-decoration: none;

                    p {
                        color: $secondaryColor;
                    }
                }

            }

        }
    }
}

.fifth-section {
    max-width: 1300px;
    margin: auto;
    margin-top: 40px;

    @media (min-width: 1600px) {
        max-width: 1600px;
    }

    .other-section {
        justify-content: center;

        .left-section {
            padding-top: 40px;
            justify-content: center;

            .topic {
                .title {
                    padding-left: 20px;
                    margin-bottom: 30px;

                    p {
                        font-size: 20px;
                        border-bottom: 3px $primaryColor solid;
                        width: 120px;
                    }
                }
            }

            .content {

                .news {
                    margin-bottom: 20px;

                    .image {

                        width: 100%;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    h5 {
                        margin-top: 15px;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    span {

                        padding-right: 6px;


                        a {
                            color: $primaryColor;

                            &:hover {
                                color: white;
                                text-decoration: none;
                            }
                        }

                    }

                }
            }
        }

        .right-section {

            background-color: $secondaryColor;
            justify-content: center;

            .topic1 {
                @media (min-width: 768px) {
                    padding-left: 110px;
                }


                @media (min-width: 1200px) {
                    padding-left: 0;
                }

                .title {
                    padding-left: 20px;
                    margin-bottom: 30px;
                    margin-top: 40px;

                    p {
                        font-size: 20px;
                        border-bottom: 3px $primaryColor solid;
                        width: 120px;
                        color: white;
                    }
                }
            }

            .contain {
                padding-top: 30px;
                max-height: 611px;
                background-color: $secondaryColor;
                overflow-y: scroll;
                overflow-x: hidden;

                .news1 {

                    justify-content: center;
                    border-bottom: 1px #cacaca solid;
                    padding-bottom: 7px;
                    margin-bottom: 20px;

                    &:last-child {
                        border-bottom: none;
                    }

                    .image {
                        padding-left: 20px;
                        width: 70px;
                        height: 70px;
                        overflow: hidden;

                        img {
                            width: 100%;
                        }
                    }

                    .text {
                        padding-left: 0;

                        a {
                            text-decoration: none;

                            h5 {
                                color: white;
                                font-size: 18px;
                            }
                        }

                    }
                }
            }
        }
    }
}

.sixth-section {

    @media (min-width: 1000px) {
        margin-top: 60px;

    }

    .home-demo {
        background-color: #1d1d1d;
        padding: 2rem 0;

        .row {
            margin: 0 auto;
            max-width: 1920px;
            width: 100%;

            &::before,
            &::after {
                content: " ";
                display: table
            }

            &::after {
                clear: both
            }

            .large-12 {
                width: 100%;
                position: relative;
                padding-left: .9375rem;
                padding-right: .9375rem;
                float: left;

                h3 {
                    color: white;
                }

                .owl-carousel {
                    margin: 2rem 0;

                    .item {
                        background: #ff3f4d;
                        height: auto;
                        background: #000000;



                        img {
                            height: 100%;

                            &:hover {
                                opacity: 0.4;
                            }
                        }

                        img.play {

                            position: absolute;
                            width: 10%;
                            left: calc(50% - 20px);

                        }
                    }
                }



            }


        }

    }
}


.seventh-section {
    margin-top: 50px;

    .other-video {

        max-width: 1200px;
        width: 100%;

        .row {
            justify-content: center;

            .section {

                .content {
                    margin: 0 auto;

                    .video {
                        padding: 0;
                        height: auto;

                        img {
                            width: 100%;

                        }
                    }

                    .text {
                        padding-right: 0;
                        margin-bottom: 40px;
                        background-color: #c8c8c8;

                        h5 {
                            font-size: 16px;
                            font-weight: 600;
                            padding: 10px 30px;


                        }
                    }

                    .button {
                        background-color: $secondaryColor;
                        padding-right: 0;
                        margin-bottom: 40px;

                        a {
                            position: absolute;
                            top: 50%;
                            right: -50%;
                            transform: translate(-50px, -50%);

                        }
                    }
                }
            }
        }
    }
}



.eighth-section {
    margin-top: 60px;
    background-color: $primaryColor;

    .subscribe-section {

        .field {
            width: 90%;
            margin: auto;
            padding-top: 20px;
            padding-bottom: 20px;

            .title {
                margin-top: auto;

                p {
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            .form {
                form {
                    @media (max-width: 500px) {
                        margin-left: auto;
                    }

                    input[type="text"] {
                        border: none;
                        padding-left: 30px;
                        margin-right: 15px;
                        height: 60px;

                        @media (max-width: 500px) {
                            margin-bottom: 15px;
                        }

                        @media (min-width: 768px) {
                            margin-left: 25px;
                        }

                    }

                    input[type="email"] {
                        border: none;
                        padding-left: 30px;
                        margin-right: 15px;
                        height: 60px;

                        @media (max-width: 500px) {
                            margin-bottom: 15px;
                        }
                    }

                    button {
                        border: none;
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        background-color: $secondaryColor;
                        margin-left: auto;
                        margin-right: auto;

                        img {}
                    }
                }
            }
        }
    }
}


footer {
    >div.container-fluid {
        background-color: $secondaryColor;

        h6 {
            color: white;
            font-size: 16px;
            font-weight: 700;

            @media (max-width: 500px) {
                margin-top: 30px;
            }
        }

        p {
            color: #919191;
            font-size: 14px;
        }

        .quick-link {

            @media (min-width: 730px) {
                padding-left: 70px;
            }
        }

        li {
            list-style: none;
        }

        a {
            color: #919191;
        }
    }
}







/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
}

.video-modal {
    overflow: hidden;
    position: fixed;
    opacity: 0.0;

    -webkit-transform: translate(500%, 0%);
    transform: translate(500%, 0%);

    -webkit-transition: -webkit-transform 0s linear 0s;
    transition: transform 0s linear 0s;


    /* using flexbox for vertical centering */

    /* Flexbox display */
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    /* Vertical alignment */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.video-modal .overlay {
    z-index: 0;
    background: #313131d0;
    /* overlay color */

    opacity: 0.0;

    -webkit-transition: opacity 0.2s ease-out 0.05s;
    transition: opacity 0.2s ease-out 0.05s;
}


.video-modal-content {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;

    margin: 0 auto;

    overflow-y: visible;

    background: #000;

    width: calc(100% - 12em);
    height: 0;
    padding-top: calc((100% - 12em) * 0.5625);
    /* 16:9 calc */
}

/* Scaling to fit within the current Viewport size:
   When viewport aspect ratio is greater than 16:9
   work off the height instead of the width for calc */
@media (min-aspect-ratio: 16/9) {
    .video-modal-content {
        width: 0;
        height: calc(100vh - 10em);
        padding-top: 0;
        padding-left: calc((100vh - 10em) * 1.7778);
        /* 16:9 calc */
    }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
    .video-modal-content {
        width: calc(100% - 1em);
        padding-top: calc((100% - 1em) * 0.5625);
        /* 16:9 calc */
    }
}

/* modal close button */
.close-video-modal {
    display: block;
    position: absolute;
    left: 0;
    top: -40px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background: #000;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

/* show the modal: 
   add class to the body to reveal */
.show-video-modal .video-modal {
    opacity: 1.0;

    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
}

.show-video-modal .video-modal .overlay {
    opacity: 1.0;
}

.show-video-modal .video-modal-content {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
}