@import "./home";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

.background {
    background-image: url("/assets/img/background.png");

    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

    div.container.login-page {
        padding-top: calc(50% - 585px);
        .login-row {
            background-color: white;
            
            div.col-5.left-image {
                padding-left: 0;
                >div.image {
                    height: 600px;
                    overflow: hidden;
                    >img {
                        height:  100%;
                    }
                }
            }
            .right-form{
                .form-row{
                    
                }
            }
            
        }
    }
}