@import "./home";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import "./variable";

.background {
    background-image: url("/assets/img/background.png");

    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

    div.container.login-page {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .login-row {
            @media (max-width:768px) {
                max-width: 600px;
                margin: 0 auto;
                padding-top: 50px;
                padding-bottom: 100px;
            }
            background-color: $secondaryColor;
            -webkit-box-shadow: 0px 32px 25px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px 32px 25px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 32px 25px 0px rgba(50, 50, 50, 0.75);

         .left-image {
                padding-left: 0;

                >div.image {
                    height: 600px;
                    overflow: hidden;

                    >img {
                        width: 100%;
                    }
                }
            }

            .right-form {
             
                .form-row {
                    .form-column {
                        padding: 5% 10%;

                        .image {
                            img {}
                        }

                        h4 {
                            margin-top: 15px;
                            font-size: 24px;
                            font-weight: 700;
                            color: white;
                            margin-bottom: 30px;
                        }

                        div.form-group.col-12 {
                            >div.input-group.email {
                                @include inputform ()
                            }
                        }

                        div.form-group.col-12 {
                            >div.input-group.password {
                                @include inputform ()
                            }
                        }

                        .remember-me {
                            margin-top: 30px;

                            .styled-checkbox {
                                position: absolute; // take it out of document flow
                                opacity: 0; // hide it

                                &+label {
                                    position: relative;
                                    cursor: pointer;
                                    padding: 0;
                                    color: white;
                                }

                                // Box.
                                &+label:before {
                                    content: '';
                                    margin-right: 10px;
                                    display: inline-block;
                                    vertical-align: text-top;
                                    width: 20px;
                                    height: 20px;
                                    background: rgb(187, 187, 187);
                                }

                                // Box hover
                                &:hover+label:before {
                                    background: #f35429;
                                }

                                // Box focus
                                &:focus+label:before {
                                    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0);
                                }

                                // Box checked
                                &:checked+label:before {
                                    background: #f35429;
                                }

                                // Disabled state label.
                                &:disabled+label {
                                    color: #b8b8b8;
                                    cursor: auto;
                                }

                                // Disabled box.
                                &:disabled+label:before {
                                    box-shadow: none;
                                    background: #ddd;
                                }

                                // Checkmark. Could be replaced with an image
                                &:checked+label:after {
                                    content: '';
                                    position: absolute;
                                    left: 5px;
                                    top: 9px;
                                    background: white;
                                    width: 2px;
                                    height: 2px;
                                    box-shadow:
                                        2px 0 0 white,
                                        4px 0 0 white,
                                        4px -2px 0 white,
                                        4px -4px 0 white,
                                        4px -6px 0 white,
                                        4px -8px 0 white;
                                    transform: rotate(45deg);
                                }
                            }





                        }

                        .forgot-pass {
                            @media (max-width:500px) {
                                margin-top: 0; 
                            }
                            margin-top: 30px;
                            text-align: right;
                            a {
                                font-weight: 600;
                                color: $primaryColor;
                                text-decoration: underline;
                            }
                        }

                        .get-in {
                            margin-top: 20px;

                            .enter {
                                @media (max-width:500px) {
                                    display:block;
                                    
                                }
                                font-size: 16px;
                                border-radius: 0;
                                padding: 15px 50px;
                                background-color: $primaryColor;
                                border: none;
                            }

                            span {
                                @media (max-width:500px) {
                                    display:block;
                                    margin-left: 0; 
                                    margin-top: 30px;
                                    
                                }
                               
                                margin-left: 50px;
                                color: white;
                                a {
                                
                                    margin-left: 20px;
                                    color: $primaryColor;
                                    text-decoration: underline;
                                    font-weight: 600;
                                }
                            }

                           

                        }

                        div.sign-in-options.col-12 {
                            margin-top: 30px;
                            >span:nth-of-type(1) {
                                color: white;
                            }

                            >span:nth-of-type(2) {
                                margin-left: 40px;
                                >img {}
                            }

                            >span:nth-of-type(3) {
                                margin-left: 20px;
                                >img {}
                            }

                            >span:nth-of-type(4) {
                                margin-left: 20px;
                                >img {}
                            }
                        }


                    }
                }
            }

        }
    }
}

// div.form-group.col-12 {
//     margin-top: 30px;
//     >button.btn.btn-success.btn-lg {
//         font-size: 16px;
//         border-radius: 0;
//         padding: 15px 50px ;
//         background-color: $primaryColor;
//         border:none;
//     }

//     >span {}

//     >a {}
// }