@mixin para ($color, $weight, $size) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-family: 'Roboto', sans-serif;


}

@mixin Header ($color, $weight, $size) {
    font-size: $size;
    color: $color;

    font-weight: $weight;
    font-family: 'Roboto Slab', serif;

}

@mixin inputform () {
    margin-top: 15px;
    border: none;


    >span.input-group-addon {
        height: 50px;
        background-color: rgb(228, 228, 228);
        border-radius: 0;
        border: none;

        >span.glyphicon {
            color: $primaryColor;
        }
    }

    >input.form-control {
        height: 50px;
        background-color: rgb(228, 228, 228);
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

}

@mixin formInput (){
    margin-top: 15px;
    width: 100%;
    border: 1px solid #CCC;
padding: 15px 25px;
height: 60px;
    border-radius: 0;
}